/*=======*/
/* index */
/*=======*/
/* main-visual
-----------------------------------*/
.index .main-visual { margin-top: 32vw; }

.index .main-visual .img-area { background-color: #666; height: 80vw; margin: 0 auto; width: 100%; }

@media screen and (min-width: 768px) { .index .main-visual { margin-top: 12.5vw; }
  .index .main-visual .img-area { margin: 0 auto; height: 31.25vw; width: 75vw; } }

/* what-we-are
-----------------------------------*/
.index .what-we-are { margin-top: 60.6vw; }

.index .what-we-are .tx-area { margin: 15.3vw auto 0; width: 77.9vw; }

.index .what-we-are .tx-area p:not(:last-of-type) { margin-bottom: 12.3vw; }

@media screen and (min-width: 768px) { .index .what-we-are { margin: 23.6vw 16.7vw 0; }
  .index .what-we-are .heading02 { text-align: left; }
  .index .what-we-are .tx-area { float: right; margin: 0; width: 25.3vw; }
  .index .what-we-are .tx-area p:not(:last-of-type) { margin-bottom: 1.8vw; }
  .index .what-we-are .buttonOverlay { float: left; } }

/* what-we-do
-----------------------------------*/
.index .what-we-do { margin-top: 35.2vw; }

.index .what-we-do .circle-wrapper { display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[4]; grid-template-columns: repeat(4, 1fr); margin-top: 16vw; }

.index .what-we-do .circle-wrapper .circle-area:first-of-type { -ms-grid-column: 1; -ms-grid-column-span: 2; grid-column: 1/3; }

.index .what-we-do .circle-wrapper .circle-area:nth-of-type(2) { -ms-grid-column: 2; -ms-grid-column-span: 2; grid-column: 2/4; margin-top: 11vw; }

.index .what-we-do .circle-wrapper .circle-area:last-of-type { -ms-grid-column: 3; -ms-grid-column-span: 2; grid-column: 3/5; margin-top: 11vw; }

@media screen and (min-width: 768px) { .index .what-we-do { margin-top: 0; padding-top: 13.3vw; }
  .index .what-we-do .heading02 { text-align: right; margin-right: 16.7vw; }
  .index .what-we-do .circle-wrapper { -ms-grid-columns: (1fr)[4]; grid-template-columns: repeat(4, 1fr); margin: 2vw 25.8vw 0 21.3vw; width: 52.8vw; height: 26.92vw; }
  .index .what-we-do .circle-wrapper .circle-area { width: 13.4vw; }
  .index .what-we-do .circle-wrapper .circle-area#cia1, .index .what-we-do .circle-wrapper .circle-area#cia2 { -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
  .index .what-we-do .circle-wrapper .circle-area:first-of-type { -ms-grid-column: 1; -ms-grid-column-span: 1; grid-column: 1/2; }
  .index .what-we-do .circle-wrapper .circle-area:nth-of-type(2) { margin: 4.2vw auto 0; }
  .index .what-we-do .circle-wrapper .circle-area:last-of-type { -ms-grid-column: 4; -ms-grid-column-span: 1; grid-column: 4/5; margin: 8.3vw 0 0 auto; }
  .index .what-we-do .circle-wrapper .circle-area .tx-area02 { margin-bottom: 2vw; }
  .index .what-we-do .buttonOverlay { float: right; margin: 2.1vw 14.5vw 0 0; } }

/* we-worked
-----------------------------------*/
.index .we-worked { margin-top: 32vw; }

.index .we-worked .slick-list .slide-img:nth-of-type(1) { margin: 0 auto auto 0; padding-left: 8.8vw; }

.index .we-worked .slick-list .slide-img:nth-of-type(2) { margin: 0 0 auto auto; padding-right: 8.5vw; }

.index .we-worked .slick-list .slide-img:nth-of-type(3) { margin: 0 auto auto 0; padding-left: 5.3vw; }

.index .we-worked .slick-list .slide-img:nth-of-type(4) { margin: 0 0 auto auto; padding-right: 15.9vw; }

.index .we-worked .slick-list .slide-img:nth-of-type(5) { margin: 0 0 auto auto; padding-left: 15.9vw; }

.index .we-worked .slick-list .slide-img:not(:last-of-type) { margin-bottom: 5.3vw; }

.index .we-worked .slick-list .slide-img a { display: block; position: relative; height: 30vw; width: 53vw; }

.index .we-worked .slick-list .slide-img a .img-area { background-color: #666; height: 100%; width: 100%; }

.index .we-worked .slick-list .slide-img a div { left: 0; margin-left: 4.6vw; top: 100%; -webkit-transform: translate(0, -100%); -ms-transform: translate(0, -100%); transform: translate(0, -100%); position: absolute; z-index: 1; }

.index .we-worked .slick-list .slide-img a div .day { color: #FFF; font-size: 2.1vw; line-height: 2; margin-bottom: 1vw; }

.index .we-worked .slick-list .slide-img a div .tx-area02 { color: #FFF; line-height: normal; margin-bottom: 5vw; }

@media screen and (max-width: 767px) { .index .we-worked .slick-list .slide-img:nth-of-type(odd) { float: left; }
  .index .we-worked .slick-list .slide-img:nth-of-type(even) { float: right; } }

@media screen and (min-width: 768px) { .index .we-worked { margin-top: 9.6vw; }
  .index .we-worked .slick-list { margin: 0 auto; }
  .index .we-worked .slick-list .slide-img { width: 20.8vw; }
  .index .we-worked .slick-list .slide-img:nth-of-type(1), .index .we-worked .slick-list .slide-img:nth-of-type(6), .index .we-worked .slick-list .slide-img:nth-of-type(11) { margin: auto; padding: 10.3vw 0 0; }
  .index .we-worked .slick-list .slide-img:nth-of-type(2), .index .we-worked .slick-list .slide-img:nth-of-type(7), .index .we-worked .slick-list .slide-img:nth-of-type(12) { margin: auto; padding: 0; }
  .index .we-worked .slick-list .slide-img:nth-of-type(3), .index .we-worked .slick-list .slide-img:nth-of-type(8), .index .we-worked .slick-list .slide-img:nth-of-type(13) { margin: auto; padding: 3.9vw 0 0; }
  .index .we-worked .slick-list .slide-img:nth-of-type(4), .index .we-worked .slick-list .slide-img:nth-of-type(9), .index .we-worked .slick-list .slide-img:nth-of-type(14) { margin: auto; padding: 12.4vw 0 0; }
  .index .we-worked .slick-list .slide-img:nth-of-type(5), .index .we-worked .slick-list .slide-img:nth-of-type(10), .index .we-worked .slick-list .slide-img:nth-of-type(15) { margin: auto; padding: 4.3vw 0 0; }
  .index .we-worked .slick-list .slide-img:not(:last-of-type) { margin-bottom: 0; }
  .index .we-worked .slick-list .slide-img a { display: block; position: relative; height: 11.8vw; width: 20.8vw; margin: 0 auto; }
  .index .we-worked .slick-list .slide-img a .img-area { background-color: #666; height: 100%; width: 100%; }
  .index .we-worked .slick-list .slide-img a div { margin-left: 1.8vw; }
  .index .we-worked .slick-list .slide-img a div .day { font-size: 0.8vw; margin-bottom: 0.4vw; }
  .index .we-worked .slick-list .slide-img a div .tx-area02 { margin-bottom: 1.9vw; }
  .index .we-worked .buttonOverlay { float: left; margin: 2.0vw 0 0 17.5vw; } }

/* we-worked
-----------------------------------*/
.index .about-member { margin-top: 35.2vw; }

.index .about-member .circle-wrapper { font-size: 0; margin-top: 16vw; text-align: center; }

.index .about-member .circle-wrapper .circle-area { display: inline-block; vertical-align: top; width: 26.7vw; }

.index .about-member .circle-wrapper .circle-area:nth-of-type(1) { margin-right: 5.3vw; }

.index .about-member .circle-wrapper .circle-area:nth-of-type(2) { margin-left: 5.3vw; }

.index .about-member .circle-wrapper .circle-area:nth-of-type(3) { display: block; margin: 10.6vw auto 0; }

.index .about-member .circle-wrapper .circle-area .circle { margin-bottom: 4.8vw; }

.index .about-member .circle-wrapper .circle-area .tx-area02 { font-size: 1.6vw; margin-bottom: 0.8vw; }

.index .about-member .circle-wrapper .circle-area a { display: block; }

.index .about-member .circle-wrapper .circle-area .ic-area { font-size: 0; }

.index .about-member .circle-wrapper .circle-area .ic-area p { display: inline-block; }

.index .about-member .circle-wrapper .circle-area .ic-area p:first-of-type { margin-right: 3.3vw; }

.index .about-member .textRightLeft { margin: 32vw auto 0; }

@media screen and (min-width: 768px) { .index .about-member { margin-top: 13.3vw; }
  .index .about-member .circle-wrapper { margin: 4.2vw auto 0; display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[4]; grid-template-columns: repeat(4, 1fr); width: 39vw; }
  .index .about-member .circle-wrapper .circle-area { width: 8.3vw; }
  .index .about-member .circle-wrapper .circle-area:nth-of-type(1) { -ms-grid-column: 1; -ms-grid-column-span: 1; grid-column: 1/2; margin: 0 auto 0 0; }
  .index .about-member .circle-wrapper .circle-area:nth-of-type(2) { -ms-grid-column: 2; -ms-grid-column-span: 2; grid-column: 2/4; margin: 0 auto; }
  .index .about-member .circle-wrapper .circle-area:nth-of-type(3) { display: inline-block; -ms-grid-column: 4; -ms-grid-column-span: 1; grid-column: 4/5; margin: 0 0 0 auto; }
  .index .about-member .circle-wrapper .circle-area .circle { margin-bottom: 2vw; }
  .index .about-member .circle-wrapper .circle-area .tx-area02 { font-size: 10px; margin-bottom: 0.5vw; }
  .index .about-member .circle-wrapper .circle-area .ic-area { text-align: center; }
  .index .about-member .circle-wrapper .circle-area .ic-area p:first-of-type { margin-right: 1.3vw; }
  .index .about-member .textRightLeft { margin: 12.5vw auto 0; } }
