/* アコーディオン
-----------------------------------*/
.drawer-wrapper{
    position: relative;
    z-index: 100;
    
    .g-nv.opened {
        left: 0;

        li {
            left: 0;

            &:nth-of-type(1) {
                transition-delay: 0.3s;
            }

            &:nth-of-type(2) {
                transition-delay: 0.6s;
            }

            &:nth-of-type(3) {
                transition-delay: 0.9s;
            }

            &:nth-of-type(4) {
                transition-delay: 1.2s;
            }
        }
    }

    .g-nv {
        background-color: #FFF;
        left: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        transition: left 0.5s ease;
        width: 100%;

        li {
            left: 100vw;
            font-size: 4.5vh;
            font-weight: bold;
            height: 20%;
            position: absolute;
            transition: left 0.5s ease;
            width: 100%;

            &:nth-of-type(1) {
                transition-delay: 0s;
                top: 3%;
            }

            &:nth-of-type(2) {
                transition-delay: 0s;
                top: 23%;
            }

            &:nth-of-type(3){
                transition-delay: 0s;
                top: 43%;
            }

            &:nth-of-type(4) {
                transition-delay: 0s;
                top: 63%;
            }

            a {
                align-items: center;
                display: flex;
                height: 100%;
                padding-left: 5.2vw;
                width: 100%;
            }
        }
    }

    .menu {
        position: fixed;
        bottom: 2.6vw;
        left: 10.7vw;
        width: 8.5vw;
        height: 5vw;
        cursor: pointer;
        z-index: 100;

        .menu-inner {
            position: relative;
            width: 100%;
            display: block;
            margin: auto;
            z-index: 100;

            span {
                position: absolute;
                left: 0;
                display: block;
                width: 100%;
                height: .6vw;
                background: $MAIN_COLOR;
                transition: all .5s;

                &:first-of-type {
                    top: 0;
                }

                &:nth-of-type(2) {
                    top: 2.2vw;
                }

                &:last-of-type {
                    top: 4.4vw;
                }
            }
        }

        &.pushed {
            top: 90%;

            .menu-inner span {

                &:first-child {
                    top: 2.1vw;
                    left: -.6vw;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    top: 2.1vw;
                    left: -.6vw;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

@media screen and (min-width: $MIN_SP_WIDTH) {
.drawer-wrapper{

    .menu {
        top: 50vh;
        transform: translate(0, -50%);
        left: 4.3vw;
        width: 3.3vw;
        height: 2vw;

        .menu-inner {

            span {
                height: .1vw;

                &:first-of-type {
                    top: .1vw;
                }

                &:nth-of-type(2) {
                    top: .9vw;
                }

                &:last-of-type {
                    top: 1.7vw;
                }

            }
        }

        &.pushed {

            .menu-inner span {

                &:first-child {
                    top: .7vw;
                    left: -.4vw;
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    top: .7vw;
                    left: -.4vw;
                }
            }
        }
    }
}
}
