/* アコーディオン
-----------------------------------*/
header {
    position: relative;
}


header .g-nv ul {
    table-layout: fixed;
    font-size: 0;
}


header .g-nv ul li {
    display: table-cell;
    vertical-align: middle;
    display: inline-block;
    width: calc(100% / 6);
    font-size: 24px;
    border-right: solid 3px $MAIN_COLOR;
}

header .g-nv ul li:first-of-type {
    border-left: solid 3px $MAIN_COLOR;
}
    
header .g-nv ul li a {
    display: block;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    color: $MAIN_COLOR;
    text-decoration: none;
}

header .g-nv ul li a:hover {
    background-color: #FF9;
}

header .g-nv ul li.active {
    background-color: #FF9;
}

@media screen and (min-width: 768px) {
header .g-nv.closed {
    display: block !important;
}
}

@media screen and (max-width: 767px) {
header .menu {
    position: fixed;
    bottom: 2.6vw;
    left: 10.7vw;
    width: 8.5vw;
    height: 5vw;
    cursor: pointer;
    z-index: 101;
}

header .menu .menu-inner {
    position: relative;
    width: 100%;
    display: block;
    margin: auto;
}

header .menu .menu-inner span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: .6vw;
    background: $MAIN_COLOR;
    transition: all .5s;
}

header .menu .menu-inner span:first-of-type {
    top: 0;
}

header .menu .menu-inner span:nth-of-type(2) {
    top: 2.2vw;
}

header .menu .menu-inner span:last-of-type {
    top: 4.4vw;
}

header .menu.pushed {
}

header .menu.pushed .menu-inner span:first-child {
    top: 16px;
    left: -5px;
    transform: rotate(45deg);
}

header .menu.pushed .menu-inner span:nth-child(2) {
    opacity: 0;
}

header .menu.pushed .menu-inner span:last-child {
    top: 16px;
    left: -5px;
    transform: rotate(-45deg);
}

header .g-nv {
    display: none;
}


header .g-nv ul li {
    width: calc(100% / 3);
}

header .g-nv ul li:not(:nth-last-of-type(-n+3)) {
    margin-bottom: 24px;
}

header .g-nv ul li:nth-of-type(4n) {
    border-left: solid 3px $MAIN_COLOR;
}

}