@charset "utf-8";

/*==========*/
/* フッター */
/*========*/
footer {
	display: flex;
	height: 31.9vw;
	justify-content: center;
    align-items: center;

    p {
    	font-size: 1.6vw;
    }
}

@media screen and (min-width: $MIN_SP_WIDTH) {
footer {
	height: 12.4vw;

    p {
    	font-size: 0.6vw;
    }
}
}