/*=======*/
/* index */
/*=======*/
@import "variable";

/* main-visual
-----------------------------------*/
.index .main-visual {
	margin-top: 32vw;

	.img-area {
		background-color: #666;
		height: 80vw;
		margin: 0 auto;
		width: 100%;
	}
}

@media screen and (min-width: $MIN_SP_WIDTH) {
.index .main-visual {
	margin-top: 12.5vw;
	
	.img-area {
		margin: 0 auto;
		height: 31.25vw;
		width: 75vw;
	}
}
}

/* what-we-are
-----------------------------------*/
.index .what-we-are {
	margin-top: 60.6vw;

	.tx-area {
		margin: 15.3vw auto 0;
		width: 77.9vw;

		p:not(:last-of-type) {
			margin-bottom: 12.3vw;
		}
	}
}

@media screen and (min-width: $MIN_SP_WIDTH) {
.index .what-we-are {
	margin: 23.6vw 16.7vw 0;

	.heading02 {
		text-align: left;
	}

	.tx-area {
		float: right;
		margin: 0;
		width: 25.3vw;

		p:not(:last-of-type) {
			margin-bottom: 1.8vw;
		}

	}

	.buttonOverlay {
		float: left;
	}
}
}

/* what-we-do
-----------------------------------*/
.index .what-we-do {
	margin-top: 35.2vw;

	.circle-wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		margin-top: 16vw;

		.circle-area {

			&:first-of-type {
				grid-column: 1/3;
			}

			&:nth-of-type(2) {
				grid-column: 2/4;
				margin-top: 11vw;
			}

			&:last-of-type {
				grid-column: 3/5;
				margin-top: 11vw;
			}

			.circle {
			}
		}
	}
}

@media screen and (min-width: $MIN_SP_WIDTH) {
.index .what-we-do {
	margin-top: 13.3vw;

	.heading02 {
		text-align: right;
		margin-right: 16.7vw;
	}

	.circle-wrapper {
		grid-template-columns: repeat(4, 1fr);
		margin: 2vw 25.8vw 0 21.3vw;
		width: 52.8vw;

		.circle-area {
			width: 13.4vw;

			&:first-of-type {
				grid-column: 1/2;
			}

			&:nth-of-type(2) {
				margin: 4.2vw auto 0;
			}

			&:last-of-type {
				grid-column: 4/5;
				margin: 8.3vw 0 0 auto;
			}

			.tx-area02 {
				margin-bottom: 2vw;
			}
		}
	}

	.buttonOverlay {
		float: right;
		margin: 2.1vw 14.5vw 0 0;
	}
}
}
/* we-worked
-----------------------------------*/
.index .we-worked {
	margin-top: 32vw;

	.slick-list {

		.slide-img {

			&:nth-of-type(1) {
				margin: 0 auto auto 0;
				padding-left: 8.8vw;
			}

			&:nth-of-type(2) {
				margin: 0 0 auto auto;
				padding-right: 8.5vw;
			}

			&:nth-of-type(3) {
				margin: 0 auto auto 0;
				padding-left: 5.3vw;
			}

			&:nth-of-type(4) {
				margin: 0 0 auto auto;
				padding-right: 15.9vw;
			}

			&:nth-of-type(5) {
				margin: 0 0 auto auto;
				padding-left: 15.9vw;
			}

			&:not(:last-of-type) {
				margin-bottom: 5.3vw;
			}

			a {
				display: block;
				position: relative;
				height: 30vw;
				width: 53vw;

				.img-area {
					background-color: #666;
					height: 100%;
					width: 100%;
				}

				div {
					left: 0;
					margin-left: 4.6vw;
					top: 100%;
					transform: translate(0, -100%);
					position: absolute;
					z-index: 1;

					.day {
						color: $MAIN_COLOR2;
						font-size: 2.1vw;
						line-height: 2;
						margin-bottom: 1vw
					}

					.tx-area02{
						color: $MAIN_COLOR2;
						line-height: normal;
						margin-bottom: 5vw;
					}
				}	
			}
		}
	}
}
@media screen and (max-width: 767px) {
.index .we-worked .slick-list .slide-img {
	&:nth-of-type(odd) { 
		float: left; 
	}

	&:nth-of-type(even) { 
		float: right; 
	}
}
}

@media screen and (min-width: $MIN_SP_WIDTH) {
.index .we-worked {
	margin-top: 9.6vw;

	.slick-list {
		margin: 0 auto;

		.slide-img {
			width: 20.8vw;

			&:nth-of-type(1) {
				margin: auto;
				padding: 10.3vw 0 0;
			}

			&:nth-of-type(2) {
				margin: auto;
				padding: 0;
			}

			&:nth-of-type(3) {
				margin: auto;
				padding: 3.9vw 0 0;
			}

			&:nth-of-type(4) {
				margin: auto;
				padding: 12.4vw 0 0;
			}

			&:nth-of-type(5) {
				margin: auto;
				padding: 4.3vw 0 0;
			}

			&:nth-of-type(6) {
				margin: auto;
				padding: 10.3vw 0 0;
			}

			&:nth-of-type(7) {
				margin: auto;
				padding: 0;
			}

			&:nth-of-type(8) {
				margin: auto;
				padding: 3.9vw 0 0;
			}

			&:nth-of-type(9){
				margin: auto;
				padding: 12.4vw 0 0;
			}

			&:nth-of-type(10) {
				margin: auto;
				padding: 4.3vw 0 0;
			}

			&:nth-of-type(11) {
				margin: auto;
				padding: 10.3vw 0 0;
			}

			&:nth-of-type(12) {
				margin: auto;
				padding: 0;
			}

			&:nth-of-type(13){
				margin: auto;
				padding: 3.9vw 0 0;
			}

			&:nth-of-type(14) {
				margin: auto;
				padding: 12.4vw 0 0;
			}

			&:nth-of-type(15) {
				margin: auto;
				padding: 4.3vw 0 0;
			}

			&:not(:last-of-type) {
				margin-bottom: 0;
			}

			a {
				display: block;
				position: relative;
				height: 11.8vw;
				width: 20.8vw;
				margin: 0 auto;

				.img-area {
					background-color: #666;
					height: 100%;
					width: 100%;
				}

				div {
					margin-left: 1.8vw;

					.day {
						font-size: 0.8vw;
						margin-bottom: 0.4vw
					}

					.tx-area02 {
						margin-bottom: 1.9vw;
					}
				}	
			}
		}
	}

	.buttonOverlay {
		float: left;
		margin: 2.0vw 0 0 17.5vw;
	}
}
}

/* we-worked
-----------------------------------*/
.index .about-member {
	margin-top: 35.2vw;

	.circle-wrapper {
		font-size: 0;
		margin-top: 16vw;
		text-align: center;

		.circle-area {
			display: inline-block;
			vertical-align: top;
			width: 26.7vw;

			&:nth-of-type(1) {
				margin-right: 5.3vw;
			}

			&:nth-of-type(2) {
				margin-left: 5.3vw;
			}

			&:nth-of-type(3) {
				display: block;
				margin: 10.6vw auto 0;
			}

			.circle {
				margin-bottom: 4.8vw;
			}

			.tx-area02 {
				font-size: 1.6vw;
				margin-bottom: 0.8vw;
			}


			a {
				display: block;
			}

			.ic-area {
				font-size: 0;
			
				p {
					display: inline-block;
				
					&:first-of-type {
						margin-right: 3.3vw;
					}

				}
			}
		}
	}

	.textRightLeft {
		margin: 32vw auto 0;

	}
}

@media screen and (min-width: $MIN_SP_WIDTH) {
.index .about-member {
	margin-top: 13.3vw;

	.circle-wrapper {
		margin: 4.2vw auto 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		width: 39vw;


		.circle-area {
			width: 8.3vw;

			&:nth-of-type(1) {
				grid-column: 1/2;
				margin: 0 auto 0 0;
			}

			&:nth-of-type(2) {
				grid-column: 2/4;
				margin: 0 auto;
			}

			&:nth-of-type(3) {
				display: inline-block;
				grid-column: 4/5;
				margin: 0 0 0 auto;
			}

			.circle {
				margin-bottom: 2vw;
			}

			.tx-area02 {
				font-size: 10px;
				margin-bottom: 0.5vw;
			}

			.ic-area {
				text-align: center;

				p:first-of-type {
					margin-right: 1.3vw;
				}
			}	
		}
	}

	.textRightLeft {
		margin: 12.5vw auto 0;

	}
}
}


