/* アコーディオン
-----------------------------------*/
header {
    position: relative;

	.menu {
    	position: fixed;
    	bottom: 35.125px;
    	left: 80px;
    	cursor: pointer;
        z-index: 100;

    	.inline-svg {
  			display:block;
  			margin:0 auto;

    		.svg-menu-toggle {
				fill:#000;
    			pointer-events:all; //needs to be there so the hover works
    			cursor:pointer;

    			.bar {
    				-webkit-transform:rotate(0) translateY(0) translateX(0);
        			transform:rotate(0) translateY(0) translateX(0);
        			opacity:1;
        			-webkit-transform-origin: 20px 10px;
        			transform-origin: 20px 10px;
        			-webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
                    transition: 0.6s ease-in-out;
				}

  				.bar:nth-of-type(1) {
   				 	-webkit-transform-origin: 20px 10px;
        			transform-origin: 20px 10px;

  				}

   				.bar:nth-of-type(3) {
    				-webkit-transform-origin: 20px 20px;
        			transform-origin: 20px 20px;
   				}

			}
		}

		&.pushed {

			.inline-svg {

				.svg-menu-toggle {

                    .bar {
                        fill: $MAIN_COLOR2;
                    }

    				.bar:nth-of-type(1) {
        				-webkit-transform:rotate(-45deg) translateY(0) translateX(0);
        				transform:rotate(-45deg) translateY(0) translateX(0);
    				}

    				.bar:nth-of-type(2) {
        				opacity:0;
    				}

    				.bar:nth-of-type(3) {
        				-webkit-transform:rotate(45deg) translateY(0em) translateX(0em);
        				transform:rotate(45deg) translateY(0em) translateX(0em);
    				}
    			}
			}
		}
    }

    .g-nv-bg {
        position: fixed;
        background: rgba(0,0,0,0.6);
        transition: 0.6s ease-in-out;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100vh;
        left: -100%;
        border-radius: 50%;
        transition-delay: .6s;
    }

    .g-nv {
        background-color: $MAIN_COLOR;
        position: fixed;
        width: 30%;
        height: 100%;
        left: -100%;
        top: 0;
        display: flex;
        align-items: center;
        z-index: 98;
        transition: 0.6s ease-in-out;
        transition-delay: .6s;

        .nv-h1 {
            color: $MAIN_COLOR2;
            font-size: 32px;
            margin-left: 60px;
            width: 114px;
            transform: translateX(-400px);
            transition: transform .5s ease;
            transition-delay: 0;
        } 

        nav {

            ul {
                width: 100%;
                list-style: none;

                li {
                    transform: translateX(-400px);
                    transition: transform .5s ease;
                    transition-delay: 0;

                    a {
                        color: $MAIN_COLOR2;
                    }
                }   

                li:nth-child(1) {
                    transition-delay: .1s;
                }

                li:nth-child(2) {
                  transition-delay: .2s;
                }

                li:nth-child(3) {
                    transition-delay: .3s;
                }
                
                li:nth-child(4) {
                    transition-delay: .4s;
                }
            }
        }
    } 

    &.opened {

        .g-nv-bg {
            transform: matrix(3, 0, 0, 2.7, 0, 0);
            transition-delay: 0s;
        }

        .g-nv {
            left: 0;
            transition: 0.6s ease-in-out;
            transition-delay: 0s;

            .nv-h1 {
                transform: translateX(25%);
                transition-delay: .3s;
            } 

            ul {
                display: block;
                top: 0;
                left: 0;

                li {
                    transform: translateX(25%);
                }

                li:nth-child(1) {
                    transition-delay: .4s;
                }

                li:nth-child(2) {
                    transition-delay: .5s;
                }

                li:nth-child(3) {
                    transition-delay: .6s;
                }

                li:nth-child(4) {
                    transition-delay: .7s;
                } 
            }
        } 
    }
}

@media screen and (min-width: $MIN_SP_WIDTH) {
header {

    .menu {
        bottom: 50vh;
        transform: translate(0, 50%);
    }
}
}



